.App {
  font-family: sans-serif;
  text-align: center;
  padding: 30px;
}

.result {
  border: 1px solid violet;
  width: 400px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 8px;
}

.actionButton {
  background: violet;
  border: none;
  padding: 10px;
  border-radius: 8px;
  transition: ease 0.3s all;
}

.actionButton:hover {
  cursor: pointer;
  background: plum;
}
